# BGA Studio SFTP credentials
BGA_SFTP_HOST=1.studio.boardgamearena.com
BGA_SFTP_PORT=2022
BGA_SFTP_USER=<username>
BGA_SFTP_PASSWORD=<password>

# BGA Studio MySQL credentials
BGA_DB_HOST=studio.boardgamearena.com
BGA_DB_USER=<username>
BGA_DB_PASSWORD=<password>
